---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Varin's website" >
<div class='flex flex-col items-center justify-center'>
<div class='text-white p-8'>
<h1 class="text-red-500 bg-black w-full text-6xl font-bold"> 
PROD <span class='font-light'>BRAINROT </span> 
</h1 >
<h1 class='font-bold text-4xl'>By Varin </h1>

</div>
<div class= 'flex flex-col items-center gap-8'>
<img src=https://i.pinimg.com/736x/5f/bc/2d/5fbc2db8fb83d5a68a8f0ed37fd59be8.jpg  class="w-3/4 rounded-3xl" >
<h1 class='text-white font-bold'>  John Doe</h1>
<img src=https://media.tenor.com/nfLU14f00o4AAAAM/yeat.gif  class="w-3/4 rounded-3xl" >


</div>
</div>









 
</Layout>